[user]
	name = ifapmzadu6
	email = ifapmzadu6@gmail.com
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[alias]
	st = status
	co = checkout
	cm = commit
	br = branch
	l = log --format='%C(yellow)%H  %C(red) %cd  %C(green) %cn  %Creset%s'
    pd = !git status && git add . && git commit -m update && git push origin develop
    fetch = fetch -p

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = vim -c \"set fenc=utf-8\"
